@import "../omarchy/current/theme/waybar.css";
@import "mocha.css";

* {
  color: @text;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 700;
}

window#waybar {
  background-color: @background;
}

window.cava-overlay#waybar {
  background-color: transparent;
}

.cava-overlay#waybar {
  border: none;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  opacity: 0.8;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
  opacity: 1;
}

#workspaces button.active label {
  color: @blue;
  font-size: 14px;
}

.modules-left {
  margin-left: 8px;
}

#cpu,
#memory,
#custom-gpu,
#battery,
#bluetooth,
#network,
#pulseaudio.overdriven,
#custom-update,
#custom-weather {
  min-width: 12px;
  margin: 0 7.5px;
}

#network {
  margin-left: 2px;
}

#battery {
  margin-right: 12px;
}

#pulseaudio {
  margin: 0 4px;
}

#tray {
  margin-right: 16px;
}

tooltip {
  padding: 2px;
  background-color: alpha(@background, 0.95);
  border-radius: 10px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-privacydots {
  min-width: 12px;
  margin-left: 10px;
  margin-right: 0;
  font-size: 12px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-expand-icon {
  font-size: 10px;
  margin-right: 15px;
}

#custom-cava {
  margin-right: 218px;
  font-size: 12px;
  margin-bottom: 6px;
}

#custom-cava-player {
  color: transparent;
  background: transparent;
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}

#clock {
  background-color: @blue;
  color: @crust;
  padding: 0 14px;
}
