[Unit]
Description=Waybar privacydots cache updater (PipeWire)
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.config/waybar/scripts/privacydots-daemon.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
